In [2]:
import pandas as pd
import matplotlib.pyplot as plt

dates = ["202204", "202205","202206","202207","202208","202209"
         ,"202210","202211","202212","202301","202302","202303",]
for date in dates:
    print(date + " ###############################################")
    # Imports the cvs data and displays some info
    #date = "202211" # YYYYMM identifies the cvs file
    path = date + "-divvy-tripdata.csv"
    data = pd.read_csv(path)
    print(data.head(), "\n")
    data.info()

    # Eliminates the empty rows
    print("\n Eliminates the empty rows")
    data.dropna(inplace=True)
    #data.info()

    # Eliminates the duplicate rows
    print("Eliminates duplicate rows")
    data.drop_duplicates(inplace=True)
    #data.info()
    # print(data)

    # Turns the entries of the columns "started_at" and "ended_at" into datetime format
    print("""Turns the entries of the columns "started_at" and "ended_at" into datetime format
    """)
    data["started_at"] = pd.to_datetime(data["started_at"])
    data["ended_at"] = pd.to_datetime(data["ended_at"])
    #data.info()
    #print("\n")
    #data[["started_at","ended_at"]].head()

    # Shows all the values of the columns "rideable_type", "member_casual",
    # so I can check that they are valid
    print("""values of the columns "rideable_type", "member_casual" """)
    for i in ["rideable_type", "member_casual"]: 
        data_member = data.groupby(i)
        entries = data_member.groups.keys()
        print(i, " : ",entries)
        print(" ")

    # Shows the max and min of all the data, 
    # so I can check that the boundaries of the data make sense.
    print("Shows the MAX and MIN of all the data")
    data_max = pd.DataFrame(
                            [data.max(), 
                             data.min()]
                            , index = ["Max", "Min"]).transpose()
    print(data_max)

    # Add the column "ride_length" 
    # as subtraction between "ended_at" and "started_at"
    print("\n Add the column ride_length")
    data["ride_length"] = data["ended_at"] - data["started_at"]
    #data.info()

    # Add the column "day_of_week" that shows the day of the week 
    # with 0 as Monday and 6 as Sunday 
    print("Add the column day_of_week")
    data["day_of_week"] = data["started_at"].dt.dayofweek
    #data.info()
    data.groupby("day_of_week").groups.keys()

    # Check if there are negative or zero ride_length and removes the rows
    print("Removes the rows with negative ride length ")
    zero_time = pd.Timedelta("0 days 00:00:00")
    right_data = data[data.ride_length > zero_time]
    data = right_data

    # Shows max and min for the new columns,
    # so I can check their boundaries
    print("Shows max and min for the new columns")
    print(pd.DataFrame(
        [data[["ride_length","day_of_week"]].max(),
         data[["ride_length","day_of_week"]].min()]
        , index=["Max", "Min"]).transpose())

    # Saves the cleaned data in a csv file
    print("\n Saves the cleaned data in a csv file")
    data.to_csv("cleaned_" + date + ".csv")
    print(data.info())

202204 ###############################################
            ride_id  rideable_type           started_at             ended_at  \
0  3564070EEFD12711  electric_bike  2022-04-06 17:42:48  2022-04-06 17:54:36
1  0B820C7FCF22F489   classic_bike  2022-04-24 19:23:07  2022-04-24 19:43:17
2  89EEEE32293F07FF   classic_bike  2022-04-20 19:29:08  2022-04-20 19:35:16
3  84D4751AEB31888D   classic_bike  2022-04-22 21:14:06  2022-04-22 21:23:29
4  5664BCF0D1DE7A8B  electric_bike  2022-04-16 15:56:30  2022-04-16 16:02:11

          start_station_name start_station_id          end_station_name  \
0     Paulina St & Howard St              515   University Library (NU)
1  Wentworth Ave & Cermak Rd            13075     Green St & Madison St
2       Halsted St & Polk St     TA1307000121     Green St & Madison St
3  Wentworth Ave & Cermak Rd            13075  Delano Ct & Roosevelt Rd
4       Halsted St & Polk St     TA1307000121   Clinton St & Madison St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0            605  42.019135 -87.673532  42.052939 -87.673447        member
1   TA1307000120  41.853085 -87.631931  41.881892 -87.648789        member
2   TA1307000120  41.871840 -87.646640  41.881892 -87.648789        member
3   KA1706005007  41.853085 -87.631931  41.867491 -87.632190        casual
4   TA1305000032  41.871808 -87.646574  41.882242 -87.641066        member

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371249 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             371249 non-null  object
 1   rideable_type       371249 non-null  object
 2   started_at          371249 non-null  object
 3   ended_at            371249 non-null  object
 4   start_station_name  300362 non-null  object
 5   start_station_id    300362 non-null  object
 6   end_station_name    295961 non-null  object
 7   end_station_id      295961 non-null  object
 8   start_lat           371249 non-null  float64
 9   start_lng           371249 non-null  float64
 10  end_lat             370932 non-null  float64
 11  end_lng             370932 non-null  float64
 12  member_casual       371249 non-null  object
dtypes: float64(4), object(9)
memory usage: 36.8+ MB

 Eliminates the empty rows
<class 'pandas.core.frame.DataFrame'>
Int64Index: 272560 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             272560 non-null  object
 1   rideable_type       272560 non-null  object
 2   started_at          272560 non-null  object
 3   ended_at            272560 non-null  object
 4   start_station_name  272560 non-null  object
 5   start_station_id    272560 non-null  object
 6   end_station_name    272560 non-null  object
 7   end_station_id      272560 non-null  object
 8   start_lat           272560 non-null  float64
 9   start_lng           272560 non-null  float64
 10  end_lat             272560 non-null  float64
 11  end_lng             272560 non-null  float64
 12  member_casual       272560 non-null  object
dtypes: float64(4), object(9)
memory usage: 29.1+ MB

 Eliminates duplicate rows
<class 'pandas.core.frame.DataFrame'>
Int64Index: 272560 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             272560 non-null  object
 1   rideable_type       272560 non-null  object
 2   started_at          272560 non-null  object
 3   ended_at            272560 non-null  object
 4   start_station_name  272560 non-null  object
 5   start_station_id    272560 non-null  object
 6   end_station_name    272560 non-null  object
 7   end_station_id      272560 non-null  object
 8   start_lat           272560 non-null  float64
 9   start_lng           272560 non-null  float64
 10  end_lat             272560 non-null  float64
 11  end_lng             272560 non-null  float64
 12  member_casual       272560 non-null  object
dtypes: float64(4), object(9)
memory usage: 29.1+ MB

 Turns the entries of the columns "started_at" and "ended_at" into datetime format

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272560 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             272560 non-null  object
 1   rideable_type       272560 non-null  object
 2   started_at          272560 non-null  datetime64[ns]
 3   ended_at            272560 non-null  datetime64[ns]
 4   start_station_name  272560 non-null  object
 5   start_station_id    272560 non-null  object
 6   end_station_name    272560 non-null  object
 7   end_station_id      272560 non-null  object
 8   start_lat           272560 non-null  float64
 9   start_lng           272560 non-null  float64
 10  end_lat             272560 non-null  float64
 11  end_lng             272560 non-null  float64
 12  member_casual       272560 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 29.1+ MB



 values of the columns "rideable_type", "member_casual"
rideable_type  :  dict_keys(['classic_bike', 'docked_bike', 'electric_bike'])

member_casual  :  dict_keys(['casual', 'member'])


 Shows the MAX and MIN of all the data
                                     Max                  Min
ride_id                 FFFFEB4D4AB67749     000022C3D3CE7DD5
rideable_type              electric_bike         classic_bike
started_at           2022-04-30 23:59:54  2022-04-01 00:01:53
ended_at             2022-05-01 16:16:59  2022-04-01 00:02:15
start_station_name  Yates Blvd & 93rd St  2112 W Peterson Ave
start_station_id            chargingstx5                13001
end_station_name    Yates Blvd & 93rd St  2112 W Peterson Ave
end_station_id              chargingstx5                13001
start_lat                        42.0649              41.6485
start_lng                       -87.5282             -87.8333
end_lat                          42.0649              41.6485
end_lng                         -87.5282               -87.83
member_casual                     member               casual

 Add the column ride_length
<class 'pandas.core.frame.DataFrame'>
Int64Index: 272560 entries, 0 to 371248
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             272560 non-null  object
 1   rideable_type       272560 non-null  object
 2   started_at          272560 non-null  datetime64[ns]
 3   ended_at            272560 non-null  datetime64[ns]
 4   start_station_name  272560 non-null  object
 5   start_station_id    272560 non-null  object
 6   end_station_name    272560 non-null  object
 7   end_station_id      272560 non-null  object
 8   start_lat           272560 non-null  float64
 9   start_lng           272560 non-null  float64
 10  end_lat             272560 non-null  float64
 11  end_lng             272560 non-null  float64
 12  member_casual       272560 non-null  object
 13  ride_length         272560 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 31.2+ MB

 Add the column day_of_week
<class 'pandas.core.frame.DataFrame'>
Int64Index: 272560 entries, 0 to 371248
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             272560 non-null  object
 1   rideable_type       272560 non-null  object
 2   started_at          272560 non-null  datetime64[ns]
 3   ended_at            272560 non-null  datetime64[ns]
 4   start_station_name  272560 non-null  object
 5   start_station_id    272560 non-null  object
 6   end_station_name    272560 non-null  object
 7   end_station_id      272560 non-null  object
 8   start_lat           272560 non-null  float64
 9   start_lng           272560 non-null  float64
 10  end_lat             272560 non-null  float64
 11  end_lng             272560 non-null  float64
 12  member_casual       272560 non-null  object
 13  ride_length         272560 non-null  timedelta64[ns]
 14  day_of_week         272560 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(1), object(7), timedelta64[ns](1)
memory usage: 33.3+ MB

 Removes the rows with negative ride length

 Shows max and min for the new columns
                         Max              Min
ride_length  5 days 05:45:58  0 days 00:00:01
day_of_week                6                0

 Saves the cleaned data in a csv file
202205 ###############################################
            ride_id rideable_type           started_at             ended_at  \
0  EC2DE40644C6B0F4  classic_bike  2022-05-23 23:06:58  2022-05-23 23:40:19
1  1C31AD03897EE385  classic_bike  2022-05-11 08:53:28  2022-05-11 09:31:22
2  1542FBEC830415CF  classic_bike  2022-05-26 18:36:28  2022-05-26 18:58:18
3  6FF59852924528F8  classic_bike  2022-05-10 07:30:07  2022-05-10 07:38:49
4  483C52CAAE12E3AC  classic_bike  2022-05-10 17:31:56  2022-05-10 17:36:57

                  start_station_name start_station_id  \
0             Wabash Ave & Grand Ave     TA1307000117
1  DuSable Lake Shore Dr & Monroe St            13300
2            Clinton St & Madison St     TA1305000032
3            Clinton St & Madison St     TA1305000032
4            Clinton St & Madison St     TA1305000032

              end_station_name end_station_id  start_lat  start_lng  \
0       Halsted St & Roscoe St   TA1309000025  41.891466 -87.626761
1  Field Blvd & South Water St          15534  41.880958 -87.616743
2      Wood St & Milwaukee Ave          13221  41.882242 -87.641066
3       Clark St & Randolph St   TA1305000030  41.882242 -87.641066
4          Morgan St & Lake St   TA1306000015  41.882242 -87.641066

     end_lat    end_lng member_casual
0  41.943670 -87.648950        member
1  41.886349 -87.617517        member
2  41.907655 -87.672552        member
3  41.884576 -87.631890        member
4  41.885779 -87.651025        member

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634858 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             634858 non-null  object
 1   rideable_type       634858 non-null  object
 2   started_at          634858 non-null  object
 3   ended_at            634858 non-null  object
 4   start_station_name  548154 non-null  object
 5   start_station_id    548154 non-null  object
 6   end_station_name    541687 non-null  object
 7   end_station_id      541687 non-null  object
 8   start_lat           634858 non-null  float64
 9   start_lng           634858 non-null  float64
 10  end_lat             634136 non-null  float64
 11  end_lng             634136 non-null  float64
 12  member_casual       634858 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.0+ MB

 Eliminates the empty rows
<class 'pandas.core.frame.DataFrame'>
Int64Index: 502545 entries, 0 to 634547
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             502545 non-null  object
 1   rideable_type       502545 non-null  object
 2   started_at          502545 non-null  object
 3   ended_at            502545 non-null  object
 4   start_station_name  502545 non-null  object
 5   start_station_id    502545 non-null  object
 6   end_station_name    502545 non-null  object
 7   end_station_id      502545 non-null  object
 8   start_lat           502545 non-null  float64
 9   start_lng           502545 non-null  float64
 10  end_lat             502545 non-null  float64
 11  end_lng             502545 non-null  float64
 12  member_casual       502545 non-null  object
dtypes: float64(4), object(9)
memory usage: 53.7+ MB

 Eliminates duplicate rows
<class 'pandas.core.frame.DataFrame'>
Int64Index: 502545 entries, 0 to 634547
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             502545 non-null  object
 1   rideable_type       502545 non-null  object
 2   started_at          502545 non-null  object
 3   ended_at            502545 non-null  object
 4   start_station_name  502545 non-null  object
 5   start_station_id    502545 non-null  object
 6   end_station_name    502545 non-null  object
 7   end_station_id      502545 non-null  object
 8   start_lat           502545 non-null  float64
 9   start_lng           502545 non-null  float64
 10  end_lat             502545 non-null  float64
 11  end_lng             502545 non-null  float64
 12  member_casual       502545 non-null  object
dtypes: float64(4), object(9)
memory usage: 53.7+ MB

 Turns the entries of the columns "started_at" and "ended_at" into datetime format

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502545 entries, 0 to 634547
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             502545 non-null  object
 1   rideable_type       502545 non-null  object
 2   started_at          502545 non-null  datetime64[ns]
 3   ended_at            502545 non-null  datetime64[ns]
 4   start_station_name  502545 non-null  object
 5   start_station_id    502545 non-null  object
 6   end_station_name    502545 non-null  object
 7   end_station_id      502545 non-null  object
 8   start_lat           502545 non-null  float64
 9   start_lng           502545 non-null  float64
 10  end_lat             502545 non-null  float64
 11  end_lng             502545 non-null  float64
 12  member_casual       502545 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 53.7+ MB



 values of the columns "rideable_type", "member_casual"
rideable_type  :  dict_keys(['classic_bike', 'docked_bike', 'electric_bike'])

member_casual  :  dict_keys(['casual', 'member'])


 Shows the MAX and MIN of all the data
                                          Max                           Min
ride_id                      FFFFE34310443CBE              000027C557F9372D
rideable_type                   electric_bike                  classic_bike
started_at                2022-05-31 23:59:56           2022-05-01 00:00:06
ended_at                  2022-06-01 16:45:51           2022-05-01 00:05:17
start_station_name             Zapata Academy  111th St - Morgan Park Metra
start_station_id                 chargingstx5                        021320
end_station_name    Yates Blvd & Exchange Ave           2112 W Peterson Ave
end_station_id                   chargingstx5                        021320
start_lat                             42.0649                       41.6485
start_lng                            -87.5282                      -87.8332
end_lat                               42.0649                       41.6485
end_lng                              -87.5282                        -87.83
member_casual                          member                        casual

 Add the column ride_length
<class 'pandas.core.frame.DataFrame'>
Int64Index: 502545 entries, 0 to 634547
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             502545 non-null  object
 1   rideable_type       502545 non-null  object
 2   started_at          502545 non-null  datetime64[ns]
 3   ended_at            502545 non-null  datetime64[ns]
 4   start_station_name  502545 non-null  object
 5   start_station_id    502545 non-null  object
 6   end_station_name    502545 non-null  object
 7   end_station_id      502545 non-null  object
 8   start_lat           502545 non-null  float64
 9   start_lng           502545 non-null  float64
 10  end_lat             502545 non-null  float64
 11  end_lng             502545 non-null  float64
 12  member_casual       502545 non-null  object
 13  ride_length         502545 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 57.5+ MB

 Add the column day_of_week
<class 'pandas.core.frame.DataFrame'>
Int64Index: 502545 entries, 0 to 634547
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             502545 non-null  object
 1   rideable_type       502545 non-null  object
 2   started_at          502545 non-null  datetime64[ns]
 3   ended_at            502545 non-null  datetime64[ns]
 4   start_station_name  502545 non-null  object
 5   start_station_id    502545 non-null  object
 6   end_station_name    502545 non-null  object
 7   end_station_id      502545 non-null  object
 8   start_lat           502545 non-null  float64
 9   start_lng           502545 non-null  float64
 10  end_lat             502545 non-null  float64
 11  end_lng             502545 non-null  float64
 12  member_casual       502545 non-null  object
 13  ride_length         502545 non-null  timedelta64[ns]
 14  day_of_week         502545 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(1), object(7), timedelta64[ns](1)
memory usage: 61.3+ MB

 Removes the rows with negative ride length

 Shows max and min for the new columns
                         Max              Min
ride_length  7 days 10:42:58  0 days 00:00:01
day_of_week                6                0

 Saves the cleaned data in a csv file
202206 ###############################################
            ride_id  rideable_type           started_at             ended_at  \
0  600CFD130D0FD2A4  electric_bike  2022-06-30 17:27:53  2022-06-30 17:35:15
1  F5E6B5C1682C6464  electric_bike  2022-06-30 18:39:52  2022-06-30 18:47:28
2  B6EB6D27BAD771D2  electric_bike  2022-06-30 11:49:25  2022-06-30 12:02:54
3  C9C320375DE1D5C6  electric_bike  2022-06-30 11:15:25  2022-06-30 11:19:43
4  56C055851023BE98  electric_bike  2022-06-29 23:36:50  2022-06-29 23:45:17

  start_station_name start_station_id end_station_name end_station_id  \
0                NaN              NaN              NaN            NaN
1                NaN              NaN              NaN            NaN
2                NaN              NaN              NaN            NaN
3                NaN              NaN              NaN            NaN
4                NaN              NaN              NaN            NaN

   start_lat  start_lng  end_lat  end_lng member_casual
0      41.89     -87.62    41.91   -87.62        casual
1      41.91     -87.62    41.93   -87.63        casual
2      41.91     -87.65    41.89   -87.61        casual
3      41.80     -87.66    41.80   -87.65        casual
4      41.91     -87.63    41.93   -87.64        casual

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769204 entries, 0 to 769203
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             769204 non-null  object
 1   rideable_type       769204 non-null  object
 2   started_at          769204 non-null  object
 3   ended_at            769204 non-null  object
 4   start_station_name  676260 non-null  object
 5   start_station_id    676260 non-null  object
 6   end_station_name    669052 non-null  object
 7   end_station_id      669052 non-null  object
 8   start_lat           769204 non-null  float64
 9   start_lng           769204 non-null  float64
 10  end_lat             768149 non-null  float64
 11  end_lng             768149 non-null  float64
 12  member_casual       769204 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.3+ MB

 Eliminates the empty rows
<class 'pandas.core.frame.DataFrame'>
Int64Index: 620350 entries, 98 to 769203
Data columns (total 13 columns):

In [22]:
# Shows max and min for the new columns,
# so I can check their boundaries
print("\n Shows max and min for the new columns")
boundaries = pd.DataFrame(
    [data[["ride_length","day_of_week"]].max(),
     data[["ride_length","day_of_week"]].min()]
    , index=["Max", "Min"]).transpose()
boundaries

 Shows max and min for the new columns

                         Max                Min
ride_length  1 days 00:53:14  -1 days +23:02:01
day_of_week                6                  0

In [32]:
zero_time = pd.Timedelta("0 days 00:00:00")
if boundaries.Min.ride_length < zero_time:
    right_data = data[data.ride_length > zero_time]
right_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member,0 days 00:09:32,3
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member,0 days 00:14:30,4
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:14:07,0
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:15:41,4
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:18:26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337727,03005DDB0F2F28E4,classic_bike,2022-11-09 14:22:29,2022-11-09 14:25:18,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Webster Ave,TA1309000033,41.918216,-87.656936,41.921540,-87.653818,member,0 days 00:02:49,2
337731,B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual,0 days 00:33:36,1
337732,8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual,0 days 00:09:28,6
337733,0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual,0 days 05:35:48,6
337734,09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual,0 days 00:31:36,5